body {
  padding-top: 69px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
}

.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: #000;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.nav-link {
  display: inline-block;
  margin-right: 20px;
  float: none;
  font-family: 'Open Sans', sans-serif;
  color: #707070;
  font-size: 12px;
  line-height: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.6px;
  cursor: pointer;
}

.nav-link:hover {
  color: #a43732;
}

.header {
  display: block;
  width: 1120px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
}

.heading {
  display: inline-block;
  width: 450px;
  min-width: 0px;
  font-family: Bitter, serif;
  color: #434343;
  font-size: 34px;
  line-height: 45px;
}

.subheading {
  display: inline-block;
  width: 424px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #565656;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0px;
}

.intro-img {
  display: block;
  margin-top: 26px;
  margin-right: 66px;
  float: right;
}

.intro-container {
  padding-top: 110px;
  padding-bottom: 100px;
  background-color: #f8f8f8;
}

.row-cta {
  display: block;
  overflow: visible;
  width: 1120px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 45px;
}

.btn-cta {
  padding: 25px 60px;
  border-radius: 5px;
  background-color: #a43732;
  -webkit-transition: background-color 200ms ease, opacity 1000ms ease;
  transition: background-color 200ms ease, opacity 1000ms ease;
  font-family: Lato, sans-serif;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 0.65px;
  text-transform: uppercase;
}

.btn-cta:hover {
  background-color: #c23932;
}

.row-intro {
  display: block;
  width: 1120px;
  margin-right: auto;
  margin-left: auto;
}

.header-div {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 3;
  height: 70px;
  border-bottom: 1px solid #e3e3e3;
  background-color: #fff;
}

.nav-links {
  padding-top: 26px;
  float: right;
}

.customers-block {
  text-align: center;
}

.customers-logo {
  padding-left: 32px;
}

.customers-logo.customers-logo-first {
  padding-left: 0px;
}

.customers-heading {
  font-family: 'Open Sans', sans-serif;
  color: #a43732;
  font-size: 12px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.customers-heading.tech-heading {
  margin-left: 11px;
}

.customers-column {
  padding-right: 0px;
}

.technologies {
  padding-top: 46px;
}

.technologies-container {
  display: block;
  width: 860px;
  margin-right: auto;
  margin-left: auto;
}

.techs-logo {
  padding-left: 16px;
}

.techs-logo.techs-logo-first {
  padding-left: 0px;
}

.offering {
  padding-top: 45px;
  padding-bottom: 60px;
}

.contact-us-small {
  padding-top: 60px;
  padding-bottom: 70px;
  background-color: #f8f8f8;
  text-align: center;
}

.professional-life {
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #d8d8d8;
}

.get-in-touch {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #f8f8f8;
}

.offering-container {
  display: block;
  width: 1020px;
  margin-right: auto;
  margin-left: auto;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #000;
  font-weight: 300;
  text-align: center;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.section-description {
  display: block;
  width: 860px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.offering-images-row {
  margin-top: 60px;
}

.offering-column {
  text-align: center;
}

.offering-description-row {
  margin-top: 60px;
}

.offering-desc-heading {
  margin-top: 40px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #434343;
  font-size: 27px;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.4px;
  text-decoration: none;
}

.offering-desc-heading.offering-padding-top {
  margin-top: 60px;
}

.offering-desc-heading.offering-padding-second {
  margin-top: 50px;
}

.offering-desc-heading.offering-first-heading {
  text-decoration: none;
}

.offering-desc-text {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.offering-desc-link {
  display: inline-block;
  margin-top: 10px;
  float: left;
  font-family: 'Open Sans', sans-serif;
  color: #a43732;
  font-size: 16px;
  text-align: left;
}

.offering-desc-link:hover {
  color: #007aff;
}

.offering-desc-column {
  padding-right: 35px;
}

.get-in-touch-container {
  display: block;
  width: 385px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.get-in-touch-mailto {
  display: block;
  margin-top: 40px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.get-in-touch-tel {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 18px;
  text-decoration: underline;
}

.get-in-touch-tel-intro {
  display: inline-block;
  margin-top: 9px;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.get-in-touch-form {
  margin-top: 20px;
}

.get-in-touch-input {
  height: 45px;
  margin-top: 13px;
  padding: 14px 15px;
  border: 2px solid #aaa;
  border-radius: 5px;
  font-family: Lato, sans-serif;
  color: #626262;
  font-size: 17px;
}

.get-in-touch-textarea {
  min-height: 90px;
  margin-top: 13px;
  border: 2px solid #aaa;
  border-radius: 5px;
  font-family: Lato, sans-serif;
  color: #626262;
  font-size: 17px;
}

.get-in-touch-submit {
  width: 100%;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  background-color: #a43732;
  -webkit-transition: opacity 1000ms ease;
  transition: opacity 1000ms ease;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.65px;
  text-transform: uppercase;
}

.get-in-touch-submit:hover {
  background-color: #c23932;
}

.prefooter {
  padding-top: 75px;
  padding-bottom: 40px;
  background-color: #363841;
}

.prefooter-container {
  display: block;
  width: 1024px;
  margin-right: auto;
  margin-left: auto;
}

.prefooter-heading {
  display: block;
  margin-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.prefooter-link {
  display: block;
  min-height: 0px;
  padding-top: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  text-decoration: none;
}

.footer {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #2e303a;
  color: #fff;
  text-align: center;
}

.footer-img {
  display: inline-block;
  text-align: center;
}

.footer-heading {
  display: inline-block;
  padding: 40px 20px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}

.social-twitter {
  margin-top: 20px;
}

.social-facebook {
  margin-top: 20px;
}

.social-google {
  margin-top: 5px;
}

.professional-life-header {
  width: 370px;
  margin-top: 50px;
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.professional-life-text {
  display: block;
  width: 370px;
  margin-top: 30px;
  padding-right: 42px;
  float: right;
  font-family: 'Open Sans', sans-serif;
  color: #262626;
  font-size: 16px;
}

.professional-life-img {
  position: relative;
  z-index: 0;
  width: 529px;
  max-width: 100%;
  float: right;
  background-color: #000;
}

.professional-life-articles {
  padding-top: 35px;
  padding-bottom: 50px;
}

.professional-articles-container {
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.prof-article-header {
  width: 211px;
  font-family: 'Open Sans', sans-serif;
  color: #434343;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
}

.prof-article-linkblock {
  text-decoration: none;
}

.prof-article-text {
  margin-top: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #262626;
  font-size: 12px;
}

.prof-article-link {
  margin-top: 16px;
  color: #a43732;
  font-size: 14px;
  text-decoration: underline;
}

.prof-article-link:hover {
  color: #007aff;
}

.prof-conf-furore {
  width: 286px;
  float: none;
  clear: none;
}

.prof-conf-himss {
  width: 286px;
  float: left;
}

.prof-life-description {
  display: inline-block;
  width: 370px;
  float: left;
}

.prof-conf-performance-cont {
  position: relative;
  display: inline-block;
  width: 529px;
  float: right;
}

.prof-conf-logos {
  width: 286px;
  padding-left: 0px;
  float: right;
}

.proflife-container {
  background-color: #d8d8d8;
}

.prof-life-img-cont {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: block;
  overflow: visible;
  width: 529px;
  padding-top: 60px;
  padding-bottom: 60px;
  float: right;
  clear: none;
  border-style: none;
  background-color: #000;
  opacity: 0.5;
  text-align: left;
}

.prof-video-desk {
  position: static;
  z-index: -1;
  width: 340px;
  padding-left: 21px;
  float: left;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 27px;
}

.prof-img-icon {
  padding-top: 5px;
  float: left;
  text-align: center;
}

.prof-video-text-cont {
  position: absolute;
  bottom: 5px;
  z-index: 2;
  padding-top: 27px;
  padding-bottom: 30px;
  padding-left: 56px;
}

.prof-conf-performance-linkblock {
  float: right;
}

.gta-desk-text {
  margin-top: 42px;
  color: #a43732;
  font-size: 16px;
  line-height: 24px;
}

.offer-img-link {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  text-decoration: none;
}

.offer-img-link:hover {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transform: perspective(1260px);
  transform: perspective(1260px);
  -webkit-transform-origin: 50% 50% 0px;
  -ms-transform-origin: 50% 50% 0px;
  transform-origin: 50% 50% 0px;
}

.offering-link-block {
  text-decoration: none;
}

.footer-link-block {
  text-decoration: none;
}

.form-success-message {
  margin-top: 20px;
  border-radius: 5px;
  background-color: #83d894;
  font-family: Bitter, serif;
  font-size: 15px;
  letter-spacing: 0px;
}

.form-succes-message-text {
  color: #054b05;
  font-size: 16px;
}

.form-error-message {
  margin-top: 20px;
  padding: 18px;
  border-radius: 5px;
  font-family: Bitter, serif;
  color: #a43732;
  font-size: 16px;
}

.get-in-touch-hidden {
  display: none;
}

.use-case-content {
  padding-top: 45px;
  padding-bottom: 45px;
}

.use-case-content-container {
  display: block;
  width: 1020px;
  margin-right: auto;
  margin-left: auto;
}

.use-case-heading {
  display: block;
  width: 900px;
  margin: auto;
  font-family: Bitter, serif;
  font-size: 30px;
  line-height: 32px;
  text-align: center;
}

.use-case-heading.inhospital {
  width: 460px;
}

.use-case-heading.immunization {
  width: 367px;
}

.use-case-paragraph {
  display: block;
  width: 900px;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}

.use-case-scheme-description {
  display: block;
  width: 484px;
  margin-top: 7px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3px;
  border-top: 1px solid #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.use-case-scheme {
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.use-case-scheme.immunization {
  margin-left: -13px;
}

.use-case-list {
  display: block;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  list-style-type: disc;
}

.use-case-list-item {
  margin-top: 32px;
}

.video {
  width: 300px;
}

